.customers {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    &__subtitle {
        position: absolute;
        top: 85%;
    }

    &__item {
        width: calc(50% - 15px);
        background-color: #ffffff;
        p {
            padding-bottom: 30px;
        }
    }

    &__icon {
        fill: currentColor;
    }

    &__link {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        color: #afb1b8;
        border: 5px solid #afb1b8;
        border-radius: 4px;
        height: 130px;

        @include customTransition(color, border);

        &:hover,
        &:focus {
            color: $color-site-accent;
            border: 1px solid $color-site-accent;
        }
    }
}

@media screen and (min-width: 768px) {
    .customers {
        &__item {
            width: calc(33.33% - 20px);
        }
    }
}

@media screen and (min-width: 1200px) {
    .customers {
        &__item {
            width: calc((100% - 150px) / 6);
        }
    }
}