.filter {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
    margin-bottom: 50px;
}

.services {
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 435px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        margin-bottom: 30px;

        &-1 {
            background-image: url(../images/projects/1poolkids.jpg);
        }
        &-2 {
            background-image: url(../images/projects/2pool.jpg);
        }
        &-3 {
            background-image: url(../images/projects/3inclusive.jpg);
        }
        &-4 {
            background-image: url(../images/projects/4clubs.jpg);
        }
        &-5 {
            background-image: url(../images/projects/5pool.jpg);
        }
        &-6 {
            background-image: url(../images/projects/6pool.jpg);
        }
        &-7 {
            background-image: url(../images/projects/7run.jpg);
        }
        &-9 {
            background-image: url(../images/projects/9kidstrain.jpg);
        }
        &-10 {
            background-image: url(../images/projects/10spa.jpg);
        }
        &-11 {
            background-image: url(../images/projects/11squosh.jpg);
        }
    }

    &__inner {
        margin-left: 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    &__btn {
        border: none;
        background-color: gold;
        height: 40px;
        border-radius: 10px;
    }

    &__subtitle {
        font-size: 40px;
    }

    &__desc {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .filter {
        max-width: 326px;
    }
}

@media screen and (min-width: 768px) {
    .filter {
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .projects-wrapper {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .filter {
        margin-bottom: 50px;
    }
}