// ---------- Кольори сайту ---------- /

// --color-logo-header
// --color-modal-btn - btn close modal
// --color-modal-input - input text
$color-site-dark: rgb(255, 251, 0);

// --color-logo-footer
$color-site-light: rgb(255, 251, 0);

// --color-accent
// --color-button-hero-background
$color-site-accent: #5680E9;

// --color-background-primary
$color-bg-primary: rgb(0, 0, 0);

// --color-background-secondary
// --color-button-filter-background
$color-bg-secondary: #000000;

// --color-background-footer
$color-bg-footer: #000000;

// --color-hero-background
$color-bg-hero: #000000;

// --color-text-main
$color-text-main: #ffffff;

// --color-text-secondary
// --color-button-hero-text
// --color-button-filter-text-focus
$color-text-secondary: #fff;

// --color-text-title
// --color-button-filter-text
$color-text-title: #ffffff;

// --color-text-contacts
$color-text-contacts: rgb(255, 255, 255);

// --color-icon
$color-icon: #ffffff;

// ---------- Шрифти сайту ---------- /

//   --font-main: 'Roboto', sans-serif;
//   --font-logo: 'Raleway', sans-serif;
$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;